<ion-view view-title="Resultado">
    <ion-nav-buttons side="right">
      <button class="button button-clear " ng-click="cambiarVista()">
        <i class="icon ion-chevron-right"></i>
      </button>
    </ion-nav-buttons>
  <ion-content class="padding">
	
	<div class="card">
  <div class="item item-divider">
    Tú estimacion economica es la siguiente:
    (El resultado es parte de una emulación)
  </div>
  <div class="item item-text-wrap text-center">
    
    <h1 class="assertive" style="font-size:4em">
      ${{resultado_final}}
    </h1>

  </div>
  
</div>
  
  </ion-content>
</ion-view>
